<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <h1>Recipe page</h1>
        <h2>Avaible endpoints at
            <a href="http://192.168.1.100:5000/"> http://192.168.1.100:5000/ :</a>
        </h2>
        <ul>
            <li> /recipe/&lt;string:recipe&gt; [GET][PUT][DELETE]</li>
            <li> /recipe/&lt;string:recipe\&gt;/input-amount [GET][POST] </li>
            <li> /recipe/&lt;string:recipe\&gt;/output-amount [GET][POST]</li>
            <li> /recipe/&lt;string:recipe\&gt;/shape [GET][POST]</li>
        </ul>
    </body>
</html>